<div class="columns has-background-light">
  <div class="column"></div>
  <div class="column is-three-quarters p-6 box container-margin">
    <div class="is-flex is-flex-direction-row is-justify-content-space-between">
      <h3 class="title is-3 mb-5">Categories</h3>
      <%= link_to 'Create Category', new_category_path, class: 'button is-primary' %>
    </div>
    <%= render 'table' %>
  </div>
  <div class="column"></div>
</div>
