<% if object.errors.any? %>
  <div id="error_explanation" class="container mb-3">
    <div class="notification has-background-light">
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
